# Ignore Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py~
*.egg
*.egg-info/
dist/
build/
*.env
*.venv/
.venv/
env/
*.virtualenv/
.virtualenv/
*.log
.coverage
*.pytest_cache/
.tox/
pip-log.txt
pip-delete-this-directory.txt

# Ignore Robot Framework outputs
output.xml
log.html
report.html
*.robot~
screenshots/

# Ignore Node.js files and folders
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore VSCode settings
.vscode/
*.code-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore temporary or swap files
*.swp
*.swo
*~

# Ignore IDE/editor folders and files
.idea/
*.iml
.project
.classpath
*.sublime-project
*.sublime-workspace
